
@media screen and (max-width: 1200px) {
  .main-content {
    display: block;
    margin: 5px;
    border: 0px;
  }

  #headshot {
    width: 25%;
    height: 25%;
    float: left;
    margin: 15px;
  }

  .main-content .tile {
    width: 100%;

  }
  .main-content .tile .screenshot {
    width: 90%;
    height: 90%;
  }
}

.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}
